services:
  fastapi:
    build: .
    container_name: collec_AI
    ports:
      - "8002:8002"
    env_file:
      - .env
    volumes:
      - .:/app
      - ./keys/collec-250620.json:/app/keys/collec-250620.json
      - ./data:/app/data

    environment:
      - PYTHONUNBUFFERED=1
    command: python main.py
